body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.contact-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.contact-block .contact-block__time ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.contact-block .contact-block__time ul li {
    margin-right: 35px;
}
.contact-block .contact-block__time ul li:first-child {
    text-decoration: underline;
    border-bottom: #1F2933;
}
.contact-block .contact-block__time ul li .call-link {
    text-decoration: underline;
    color: #9BBABD;
    border-bottom: #9BBABD;
}
.contact-block .contact-block__time ul li a {
    text-decoration: none;
    color: #1F2933;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.contact-block .contact-block__garant ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.contact-block .contact-block__garant ul li:first-child {
    margin-right: 23px;
}
.contact-block .contact-block__garant ul li a {
    text-decoration: none;
    color: #1F2933;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.search-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.search-block__logo {}
.search-block__input input {
    width: 751px;
    height: 56px;
    padding: 0 15px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #CBD2D9;
    font-family: 'Montserrat', sans-serif;
}
.search-block__input input::placeholder {
    font-family: 'Montserrat', sans-serif;
}
.search-block__social-icons ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.search-block__social-icons ul li a {
    text-decoration: none;
    color: #7B8794;
}

.navbar-block {
    /*display: flex;*/
    /*justify-content: space-between;*/
}
.navbar-block__menu ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}
.navbar-block__menu ul li a {
    text-decoration: none;
    color: #1F2933;
}

.slider-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-block .slider-block__slide {
    width: 928px;
    height: 350px;
    background-color: #ccc;
}
.slider-block__cart-product {
    width: 448px;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px 20px 60px;
}

.category-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-block .category-block__box {
    width: 208px;
    height: 208px;
    background: #F5F7FA;
    border-radius: 15px;
}
