*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1408px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.contact-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    margin-top: 30px;
}

.contact-block .contact-block__time ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.contact-block .contact-block__time ul li {
    margin-right: 35px;
}
.contact-block .contact-block__time ul li a p {
    border-bottom: 1px solid #1F2933;
    margin: 0;
    display: inline-block;
}
.contact-block .contact-block__time ul li .call-link {
    text-decoration: underline;
    color: #9BBABD;
    border-bottom: #9BBABD;
    font-weight: 500;
}
.contact-block .contact-block__time ul li a {
    text-decoration: none;
    color: #1F2933;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: block;
}
.contact-block .contact-block__time ul li a span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.contact-block .contact-block__garant ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.contact-block .contact-block__garant ul li:first-child {
    margin-right: 23px;
}
.contact-block .contact-block__garant ul li a {
    text-decoration: none;
    color: #1F2933;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.contact-block .contact-block__garant ul li a span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.modal {
    display: none;
}
#modalCity .modal-content {
    width: 291px;
    height: 129px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #E4E7EB;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: absolute;
    top: 77px;
    left: 12%;
    text-align: center;
}
.modal-header h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}
.modal-body {
    display: flex;
    margin-top: 20px;
}
.modal-body a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 48px;
    text-decoration: none;
    color: #FFFFFF;
    background: #51777C;
    border-radius: 5px;
}
.modal-body .btn-choose {
    width: 153px;
    height: 48px;
    background: #FFFFFF;
    color: #51777C;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #51777C;
    border-radius: 5px;
    margin-left: 10px;
}
#modalAddress .modal-content {
    width: 268px;
    height: 196px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #E4E7EB;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: absolute;
    top: 77px;
    left: 19%;
}
#modalAddress .modal-content div {
    margin-bottom: 23px;
}
#modalAddress .modal-content label {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.modal-callback {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.modal-callback .modal-content {
    background: #FFFFFF;
    border: 1px solid #E4E7EB;
    box-sizing: border-box;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 20px 20px 30px;
    width: 428px;
    height: 461px;
}
.search-block {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
}
.search-block__logo {}
.search-block__input {
    margin-left: 32px;
    position: relative;
}
.search-block__input input {
    width: 751px;
    height: 56px;
    padding: 0 15px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #CBD2D9;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
.search-block__input input:focus {
    border: 3px solid #9BBABD;
}
.search-block__input input::placeholder {
    font-family: 'Montserrat', sans-serif;
}
.search-block__input svg {
    position: absolute;
    top: 15px;
    right: 20px;
}
.search-block__social-icons {
    margin-left: 37px;
}
.search-block__social-icons ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.search-block__social-icons ul li {
    margin-left: 35px;
}
.search-block__social-icons ul li:first-child {
    margin-left: 0;
}
.search-block__social-icons ul li a {
    text-decoration: none;
    color: #7B8794;
    font-size: 10px;
    line-height: 15px;
    display: block;
}
.search-block__social-icons ul li a span {
    display: block;
    text-align: center;
}

.navbar-block {
    margin-bottom: 56px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}
.navbar-block__menu {
    margin-left: 34px;
}
.navbar-block__menu ul {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.catalog-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 56px;
    background: #51777C;
    border-radius: 5px;
}
.catalog-menu {
    display: none;
    width: 263px;
    height: auto;
    padding: 20px;
    border: 1px solid #F5F7FA;
    box-sizing: border-box;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background: #ffffff;
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 100;
}
.catalog-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.catalog-menu ul li {
    margin-bottom: 20px;
}
.catalog-menu ul li a {
    text-decoration: none;
    height: 56px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #1F2933;
    position: relative;
}
.catalog-menu ul li a span {
    display: flex;
    margin-right: 10px;
}
.catalog-menu ul li a:hover {
    background: #51777C;
    border-radius: 4px;
    color: #ffffff;
}
.catalog-menu ul li a:hover svg path {
    fill: white;
}
.catalog-menu ul li a span:last-child {
    position: absolute;
    right: 0;
    margin-right: 0;
}
.catalog-menu ul li ul {
    display: none;
    width: 285px;
    height: 208px;
    background: #FFFFFF;
    border: 1px solid #F5F7FA;
    box-sizing: border-box;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 280px;
}
.navbar-block__menu ul li {
    margin-left: 0;
}
.navbar-block__menu ul li:first-child {
    margin-left: 0;
}
.navbar-block__menu ul li:last-child a {
    width: 144px;
    background: #F5F7FA;
}
.navbar-block__menu ul li a {
    text-decoration: none;
    color: #1F2933;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    padding: 8px 10px;
    background: transparent;
    border-radius: 0;
    line-height: 21px;
}
.navbar-block__menu ul li a:hover {
    height: 56px;
    padding: 8px 10px;
    background: #E4E7EB;
    border-radius: 4px;
}
.navbar-block__menu ul li a span {
    display: flex;
    margin-right: 5px;
}
.navbar-block__menu ul li a span:last-child {
    margin-left: 15px;
}

.slider-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.slider-block__slide .swiper-container {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.slider-block__slide .swiper-slide {
    text-align: center;
    background: #F5F7FA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slider-block__slide .swiper-button-next, .swiper-button-prev {
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.slider-block__slide .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 15px;
    color: #616E7C;
}
.slider-block__slide .slider-image {
    width: 490px;
    position: absolute;
    top: 60px;
    right: 0;
}
.slider-block__slide .slider-description {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 90px;
    text-align: left;
}
.slider-description h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
}
.slider-description p {
    margin: 0 0 30px 0;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
}
.slider-description a {
    display: flex;
    align-items: center;
    width: 202px;
    height: 48px;
    background: #DE7ABB;
    border-radius: 5px;
    padding: 12px 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}
.slider-block__slide .swiper-container {
    margin-left: auto;
    margin-right: auto;
}
.slider-block .slider-block__slide {
    width: 895px;
    height: 350px;
    background-color: #ccc;
    margin-right: 32px;
    border-radius: 15px;
}
.slider-block__cart {
    width: 448px;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px 20px 60px;
}
.slider-block__cart-product {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.slider-block__cart-product p {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 0 20px 0 0;
}
.slider-block__cart-product span {
    width: 86px;
    height: 25px;
    background: #BBDE7A;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 10px;
    line-height: 15px;
    color: #fff;
    display: flex;
    margin-right: 170px;
}
.slider-block__cart-desc {
    display: flex;
    align-items: center;
}
.slider-block__cart-desc img {
    width: 200px;
    height: 200px;
}
.slider-block__cart-desc__list .category {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
}
.slider-block__cart-desc__list .name-product {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin: 5px 0 17px 0;
}
.slider-block__cart-desc__list .availability {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
}
.slider-block__cart-desc__list .availability svg {
    margin-right: 10px;
}
.slider-block__cart-desc__list .price {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin: 17px 0 0 0;
}
.slider-block__cart-desc__list .old-price {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    text-decoration: line-through;
}
.slider-block__cart-desc__list .btn-cart {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0 ;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    width: 151px;
    height: 48px;
    padding: 12px 20px;
    background: #DE7ABB;
    border-radius: 5px;
    text-decoration: none;
}
.slider-block__cart-desc__list .btn-cart svg {
    margin-right: 10px;
}

.category-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-block .category-block__box {
    width: 208px;
    height: 208px;
    background: #F5F7FA;
    border-radius: 15px;
    cursor: pointer;
}
.category-block__box:hover {
    background: #F9E6D9;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.category-block__box-image {
    width: 156px;
    height: 156px;
    background: #FFFFFF;
    border-radius: 0 15px;
    display: flex;
    align-items: flex-end;
    margin: 2px 0 0 50px;
}
.category-block__box-desc {
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.social {
  display: inline-block;
}

.social a {
  display: block;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #fff;
  background: #7B8794;
  border-radius: 4px;
}

.social a:hover {
  border-color: #888;
  opacity: .8;
}

.social svg {
  margin-top: 5px;
  max-width: 21px;
  max-height: 21px;
}

.install {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.install__block {
  width: 688px;
  height: 350px;
  background: linear-gradient(135deg, #51777C 0%, #C4D5C4 100%);
  border-radius: 15px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 200px;
  position: relative;
  overflow: hidden;
}

.install__block--bg {
  background: #F9E6D9;
  margin-left: 32px;
}

.install__block--bg::after {
  position: absolute;
  content: '';
  width: 594px;
  border-radius: 50%;
  height: 594px;
  left: 40%;
  top: 0px;
  background: rgba(255, 255, 255, 0.4);
  z-index: 0;
}

.install__img {
  position: absolute;
  right: 20px;
  bottom: 0;
  z-index: 1;
}

.install__toptitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}

.install__title {
  margin-top: 15px;
  display: inline-block;
  background: #F9E6D9;
  border-radius: 5px;
  font-weight: bold;
  font-size: 31px;
  line-height: 1;
  text-transform: uppercase;
  color: #52606D;
  padding: 10px 30px;
  position: relative;
  z-index: 2;
}

.install__title--sell {
  text-transform: none;
  color: #fff;
  background: #51777C;
}

.install__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  color: #3E4C59;
  margin-top: 25px;
  z-index: 2;
  position: relative;
}

.popular {
  margin-top: 70px;
}

.popular__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.5;
  display: inline-block;
  margin-right: 20px;
}

.popular__title a {
  color: #1F2933;
  text-decoration: none;
}

.popular__subtitle {
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
}

.popular__subtitle a {
  text-decoration: none;
  color: #9BBABD;
}

.popular .swiper-button-prev, .popular .swiper-button-next {
  width: 36px;
  height: 36px;
  background: #E4E7EB;
  border-radius: 3.75px;
  left: auto;
  top: 25px;
  z-index: 100;
}

.popular .swiper-button-prev::after, .popular .swiper-button-next::after {
  font-size: 10px;
}

.popular .swiper-button-prev .swiper-button-next, .popular .swiper-button-next .swiper-button-next {
  right: 0px;
}

.popular .swiper-button-prev .swiper-button-prev, .popular .swiper-button-next .swiper-button-prev {
  left: 0;
  right: 40px;
}

.popular .item {
  margin-top: 30px;
  padding: 20px 28px;
  width: 256px;
  height: 456px;
  border: 1px solid #E4E7EB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.popular .item__headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular .item__header {
  font-weight: 500;
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 10px;
}

.popular .item__header--sell {
  background: #DE7A89;
}

.popular .item__header--popular {
  background: #BBDE7A;
}

.popular .item__header--trand {
  background: #7ADECF;
}

.popular .item__header--new {
  background: #7B86DD;
}

.popular .item__like svg {
  width: 20px;
  height: 18px;
  fill: #fff;
  stroke: #000;
}

.popular .item__like svg:hover {
  fill: red;
  stroke: red;
}

.popular .item__img {
  margin-top: 15px;
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.popular .item__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.popular .item__type {
  margin-top: 15px;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
}

.popular .item__type a {
  text-decoration: none;
  color: #9AA5B1;
}

.popular .item__product {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  height: 42px;
}

.popular .item__product a {
  text-decoration: none;
  color: #1F2933;
}

.popular .item__availability {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;
  color: #9AA5B1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular .item__availability svg {
  width: 17px;
  height: 17px;
  margin-right: 7px;
}

.popular .item__price {
  margin-top: 12px;
}

.popular .item__new-price {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  color: #52606D;
}

.popular .item__old-price {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;
  min-height: 15px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.popular .item__basket {
  cursor: pointer;
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #E4E7EB;
  border-radius: 5px;
  width: 200px;
  height: 48px;
  padding: 0 45px;
  outline: none;
  position: relative;
  background: #de7abb;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #de7abb), to(#bbde7a));
  background: linear-gradient(90deg, #de7abb 10%, #bbde7a 100%);
  background-position: 0 0;
  background-size: 600%;
  border-radius: 5px;
  border: none;
  -webkit-transition: background-position 0.4s linear;
  transition: background-position 0.4s linear;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
}

.popular .item__basket:hover {
  background-position: 100% 0;
}

.popular .item__basket svg {
  width: 21px;
  height: 21px;
  margin: auto;
  position: relative;
  z-index: 1;
  fill: #fff;
}

.popular .item__basket span {
  margin: auto;
  position: relative;
  z-index: 1;
}

#tabs {
  margin: 10px 0;
}

.tabs-nav {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
}

.tabs-nav li {
  display: table-cell;
  float: none;
  margin: 0;
  padding: 0;
}

.tabs-nav li:first-child a {
  border-radius: 5px 0 0 0;
}

.tabs-nav li:last-child a {
  display: block;
  border-right: 1px solid #cccccc;
  border-radius: 0 5px 0 0;
}

.tabs-nav a {
  display: block;
  padding: 10px 20px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  background: #fbfbfb;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: #999999;
}

.tabs-nav a.active {
  border-bottom: 1px solid #ffffff;
  background: #ffffff;
  color: #000000;
}

.map-popup {
  background: #ffffff;
  padding: 18px;
  padding: 20px;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map-popup h2 {
  padding-left: 26px;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  display: block;
  background-size: 18px 16px;
  background-position: 0 0;
}

#map-1 {
  border-radius: 15px;
}

.map-icon {
  visibility: visible !important;
  display: inline !important;
}

.map-adress {
  background: url("../img/map-adress.svg") no-repeat center/cover;
}

.map-time {
  margin-top: 18px;
  background: url("../img/map-time.svg") no-repeat center/cover;
}

.map-tel {
  margin-top: 18px;
  background: url("../img/map-tel.svg") no-repeat center/cover;
}

.leaflet-popup-tip-container {
  display: none !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}

.adress {
  margin-top: 70px;
}

.adress__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.5;
  color: #1F2933;
  display: inline-block;
  margin-right: 20px;
}

.adress__subtitle {
  font-size: 14px;
  line-height: 1.5;
  color: #9BBABD;
  display: inline-block;
}

.adress__item {
  margin: 30px 30px 30px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #9AA5B1;
  padding: 13px 20px;
  background: #e4e7eb;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #e4e7eb), to(#51777c));
  background: linear-gradient(90deg, #e4e7eb 10%, #51777c 100%);
  background-position: 0 0;
  background-size: 600%;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: background-position 0.6s, color 0.6s;
  transition: background-position 0.6s, color 0.6s;
  cursor: pointer;
}

.adress__item:last-child {
  margin-top: 0;
}

.adress__item svg {
  display: inline-block;
  width: 22px;
  height: 20px;
  vertical-align: middle;
}

.adress__item:hover, .adress__item:active {
  color: #fff;
  border-radius: 5px;
  background-position: 100% 0;
}

.adress__item:hover svg, .adress__item:active svg {
  stroke: #fff;
}

.footer {
  background: #3E4C59;
  margin-top: 100px;
  color: #FFFFFF;
  padding-top: 59px;
}

.footer__column {
  display: inline-block;
  vertical-align: top;
  margin-right: 54px;
}

.footer a {
  color: #FFFFFF;
}

.footer__logo {
  max-width: 256px;
  max-height: 45px;
  margin: 0;
}

.footer__tel {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__numder {
  font-weight: 600;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__numder svg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14px;
  height: 20px;
  margin-right: 15px;
}

.footer__call {
  text-decoration: underline;
  margin-left: 29px;
  margin-top: 5px;
}

.footer__call:hover {
  text-decoration: none;
}

.footer__ip {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__ip svg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 9px;
  width: 20px;
  height: 20px;
}

.footer__inn, .footer__ogrn {
  margin-top: 5px;
  margin-left: 29px;
}

.footer__inn b, .footer__ogrn b {
  font-weight: 600;
}

.footer__ogrn {
  margin-bottom: 68px;
}

.footer__list {
  list-style: none;
}

.footer__list li {
  margin-top: 10px;
}

.footer__list li a {
  text-decoration: none;
}

.footer__list li a:hover {
  text-decoration: underline;
}

.footer__list b {
  position: relative;
  padding-bottom: 10px;
  display: block;
}

.footer__list b::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 2px;
  background: #DE7A89;
  bottom: 0px;
  left: 0;
}

.footer .subscribe {
  margin-top: 23px;
  width: 448px;
  border: 1px solid #7B8794;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .subscribe__area {
  height: 36px;
  background: #7B86DD;
  color: #fff;
  font-size: 14px;
  padding: 13px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.footer .subscribe__area:hover {
  background: #5466eb;
}

.footer .subscribe input {
  border: none;
  background: none;
  width: calc(100% - 84px);
  height: 100%;
  text-indent: 10px;
  color: #fff;
}

.footer .subscribe input placeholder {
  color: #7B8794;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.footer .subscribe__title {
  font-weight: 600;
  font-size: 14px;
}

.footer .subscribe__subtitle {
  color: #7B8794;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;
  max-width: 448px;
  margin-top: 15px;
}

.footer .subscribe__social {
  padding-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 50%;
}

.footer .subscribe__pay {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .subscribe__pay a {
  display: inline-block;
  text-align: center;
}

.footer .subscribe__pay a svg {
  max-width: 71px;
  max-height: 24px;
}


.active {
    display: flex !important;
}
